    <!-- SIDEBAR
    ============================== -->
<!--     <div class="sidebar">
      <div class="sidebar__wrapper">

        <div class="sidebar__close js-toggle-sidebar visible-xs">
          <span class="oi oi-x"></span>
        </div>

        <div class="sidebar__form form_alt">
          <form>
            <div class="form-group">
              <label class="sr-only" for="login__username">Username</label>
              <input type="text" class="form-control" id="login__username" placeholder="Username">
            </div>
            <div class="form-group">
              <label class="sr-only" for="login__password">Password</label>
              <input type="password" class="form-control" id="login__password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-block btn-primary">Sign In</button>
          </form>
        </div>

        <h4 class="sidebar__heading">
          Layouts
        </h4>
        <ul class="sidebar__menu">
          <li><a href="index_agency.html">Agency</a></li>
          <li><a href="index_app.html">App</a></li>
          <li><a href="index_sign-up.html">Sign Up</a></li>
        </ul>

        <h4 class="sidebar__heading">
          Bonus pages
        </h4>
        <ul class="sidebar__menu">
          <li><a href="sign-in.html">Sign In</a></li>
          <li><a href="sign-up.html">Sign Up</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
        </ul>

        <div class="sidebar__logo">
          Iris
        </div>

      </div>
    </div> -->

<!-- Feature demo -->
<div class="section">
  <div class="container">
    <div class="row"> 
      <div class="row-same-height">
        <div class="col-sm-5 col-sm-height col-middle">
          <h4 class="heading heading_left">At your desk...</h4>
          <h4 class="heading heading_left">...or on your rounds</h4>
          <p class="heading__sub">
            <!-- Sed erat tortor, bibendum at sem in, malesuada ultricies eros. Integer maximus scelerisque sapien ut porta. Nulla tempor rutrum enim vitae lobortis. Quisque varius, ante in aliquet semper. -->
          </p>
          <!-- <a href="#" class="btn btn-default heading__btn">Primary action</a> -->
        </div>
        <div class="col-sm-7 col-sm-height col-middle">
          <img src="img/showcase.png" alt="..." class="img-responsive">
        </div>
      </div> <!-- / .row-same-height -->
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .section -->

<!-- Porfolio -->
      <div class="section" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">Our portfolio</h4>
              <p class="heading__sub">
                Curabitur feugiat risus eu lorem gravida elementum. Etiam mollis faucibus odio eu viverra.<br /> Nulla eu ligula ac lacus porttitor aliquam in sit amet orci.
              </p>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->

        <div class="portfolio__items">

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="img/portfolio_1.jpg" data-lightbox="portfolio">
                  <img src="img/portfolio_1.jpg" class="img-responsive" alt="...">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="img/portfolio_2.jpg" data-lightbox="portfolio">
                  <img src="img/portfolio_2.jpg" class="img-responsive" alt="...">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="img/portfolio_3.jpg" data-lightbox="portfolio">
                  <img src="img/portfolio_3.jpg" class="img-responsive" alt="...">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="img/portfolio_4.jpg" data-lightbox="portfolio">
                  <img src="img/portfolio_4.jpg" class="img-responsive" alt="...">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> / .portfolio-item-mask__content
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="img/portfolio_5.jpg" data-lightbox="portfolio">
                  <img src="img/portfolio_5.jpg" class="img-responsive" alt="...">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="img/portfolio_6.jpg" data-lightbox="portfolio">
                  <img src="img/portfolio_6.jpg" class="img-responsive" alt="...">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="img/portfolio_7.jpg" data-lightbox="portfolio">
                  <img src="img/portfolio_7.jpg" class="img-responsive" alt="...">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="portfolio__item">
              <div class="portfolio-item__img">
                <a href="img/portfolio_8.jpg" data-lightbox="portfolio">
                  <img src="img/portfolio_8.jpg" class="img-responsive" alt="...">
                  <div class="portfolio-item__mask">
                    <div class="portfolio-item-mask__content">
                      <div class="portfolio-item-mask__title">
                        In cursus diam at ante consectetur
                      </div>
                      <div class="portfolio-item-mask__summary">
                        Pellentesque metus arcu, placerat nec porta in, ultricies id enim. Nullam sit amet viverra sapien, quis aliquet quam.
                      </div>
                    </div> <!-- / .portfolio-item-mask__content -->
                  </div> <!-- / .portfolio-item__mask -->
                </a>
              </div> <!-- / .portfolio-item__img -->
            </div> <!-- / .portfolio__item -->
          </div>

          <div class="clearfix"></div>

        </div> <!-- / .portfolio__items -->

      </div> <!-- / .section -->


      <!-- TESTIMONIALS
      ============================== -->
      <div class="section" id="testimonials">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="review__icon">
                <span class="oi oi-double-quote-serif-left"></span>
              </div>
              <h4 class="heading">What others say about us</h4>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <!-- Wrapper for slides -->
              <div id="review__carousel" class="owl-carousel owl-theme">

                <div class="item">
                  <div class="review__item">
                    <div class="review-item__quot">
                      Fusce eget mattis diam. In interdum, ipsum eget convallis semper, nulla lorem venenatis tellus, at feugiat sapien leo eget felis. Cras nec finibus ante. Proin ac nulla pellentesque, laoreet mauris.
                    </div>
                    <div class="review-item__about">
                      <div class="review-item-about__avatar">
                        <img class="img-responsive" src="img/author_1.jpg" alt="...">
                      </div>
                      <div class="review-item-about__content">
                        <div class="review-item-about__name">Jane Roe</div>
                        <div class="review-item-about__position">Front-end developer</div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div> <!-- / .review__item -->
                </div>
                
                <div class="item">
                  <div class="review__item">
                    <div class="review-item__quot">
                      Fusce eget mattis diam. In interdum, ipsum eget convallis semper, nulla lorem venenatis tellus, at feugiat sapien leo eget felis. Cras nec finibus ante. Proin ac nulla pellentesque, laoreet mauris.
                    </div>
                    <div class="review-item__about">
                      <div class="review-item-about__avatar">
                        <img class="img-responsive" src="img/author_2.jpg" alt="...">
                      </div>
                      <div class="review-item-about__content">
                        <div class="review-item-about__name">John Doe</div>
                        <div class="review-item-about__position">Front-end developer</div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div> <!-- / .review__item -->
                </div>

                <div class="item">
                  <div class="review__item">
                    <div class="review-item__quot">
                      Fusce eget mattis diam. In interdum, ipsum eget convallis semper, nulla lorem venenatis tellus, at feugiat sapien leo eget felis. Cras nec finibus ante. Proin ac nulla pellentesque, laoreet mauris.
                    </div>
                    <div class="review-item__about">
                      <div class="review-item-about__avatar">
                        <img class="img-responsive" src="img/author_3.jpg" alt="...">
                      </div>
                      <div class="review-item-about__content">
                        <div class="review-item-about__name">Elena Doe</div>
                        <div class="review-item-about__position">Front-end developer</div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div> <!-- / .review__item -->
                </div>

                <div class="item">
                  <div class="review__item">
                    <div class="review-item__quot">
                      Fusce eget mattis diam. In interdum, ipsum eget convallis semper, nulla lorem venenatis tellus, at feugiat sapien leo eget felis. Cras nec finibus ante. Proin ac nulla pellentesque, laoreet mauris.
                    </div>
                    <div class="review-item__about">
                      <div class="review-item-about__avatar">
                        <img class="img-responsive" src="img/author_4.jpg" alt="...">
                      </div>
                      <div class="review-item-about__content">
                        <div class="review-item-about__name">Kate Doe</div>
                        <div class="review-item-about__position">Front-end developer</div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div> <!-- / .review__item -->
                </div>

                <div class="item">
                  <div class="review__item">
                    <div class="review-item__quot">
                      Fusce eget mattis diam. In interdum, ipsum eget convallis semper, nulla lorem venenatis tellus, at feugiat sapien leo eget felis. Cras nec finibus ante. Proin ac nulla pellentesque, laoreet mauris.
                    </div>
                    <div class="review-item__about">
                      <div class="review-item-about__avatar">
                        <img class="img-responsive" src="img/author_2.jpg" alt="...">
                      </div>
                      <div class="review-item-about__content">
                        <div class="review-item-about__name">James Miles</div>
                        <div class="review-item-about__position">Front-end developer</div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div> <!-- / .review__item -->
                </div>

              </div> <!-- / .review__carousel -->

            </div>
          </div> <!-- / .row -->
        </div>
      </div>

      <!-- PRICING
      ============================== -->
      <div class="section" id="pricing">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">Available pricing options</h4>
              <p class="heading__sub">
                Vivamus quam neque, aliquet ac faucibus ut, vestibulum. Nulla quis laoreet diam.<br /> Donec sed egestas ex, nec facilisis ante. Vivamus imperdiet odio.
              </p>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="pricing__items">
              <div class="col-sm-3">
                <div class="pricing__item pricing__item_one">
                  <div class="pricing-item__title">
                    Ut semper tellus quis diam tincidunt iaculis
                  </div>
                  <div class="pricing-item__price">
                    $10<span>/mo</span>
                  </div>
                  <div class="pricing-item__summary">
                    Praesent scelerisque dui nec nibh maximus elementum. Suspendisse sagittis odio sed volutpat ornare. Fusce ac vestibulum nibh.
                  </div>
                  <a href="#" class="btn btn-default">
                    <span class="oi oi-cart"></span> Purchase now
                  </a>
                </div> <!-- / .pricing__items -->
              </div>
              <div class="col-sm-3">
                <div class="pricing__item pricing__item_two">
                  <div class="pricing-item__title">
                    Praesent scelerisque dui nec nibh maximu
                  </div>
                  <div class="pricing-item__price">
                    $20<span>/mo</span>
                  </div>
                  <div class="pricing-item__summary">
                    Praesent scelerisque dui nec nibh maximus elementum. Suspendisse sagittis odio sed volutpat ornare. Fusce ac vestibulum nibh.
                  </div>
                  <a href="#" class="btn btn-default">
                    <span class="oi oi-cart"></span> Purchase now
                  </a>
                </div> <!-- / .pricing__items -->
              </div>
              <div class="col-sm-3">
                <div class="pricing__item pricing__item_three">
                  <div class="pricing-item__title">
                    Suspendisse sagittis odio sed volutpat ornare
                  </div>
                  <div class="pricing-item__price">
                    $30<span>/mo</span>
                  </div>
                  <div class="pricing-item__summary">
                    Praesent scelerisque dui nec nibh maximus elementum. Suspendisse sagittis odio sed volutpat ornare. Fusce ac vestibulum nibh.
                  </div>
                  <a href="#" class="btn btn-default">
                    <span class="oi oi-cart"></span> Purchase now
                  </a>
                </div> <!-- / .pricing__items -->
              </div>
              <div class="col-sm-3">
                <div class="pricing__item pricing__item_four">
                  <div class="pricing-item__title">
                    Nulla at magna accumsan, viverra ligula
                  </div>
                  <div class="pricing-item__price">
                    $40<span>/mo</span>
                  </div>
                  <div class="pricing-item__summary">
                    Praesent scelerisque dui nec nibh maximus elementum. Suspendisse sagittis odio sed volutpat ornare. Fusce ac vestibulum nibh.
                  </div>
                  <a href="#" class="btn btn-default">
                    <span class="oi oi-cart"></span> Purchase now
                  </a>
                </div> <!-- / .pricing__items -->
              </div>
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->

      </div> <!-- / .section -->


      <!-- TEAM
      ============================== -->
      <div class="section" id="team">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">Meet the professionals</h4>
              <p class="heading__sub">
                Donec blandit ex vitae lectus malesuada ullamcorper. Praesent tempor pharetra leo, id mollis.<br /> Aliquam at venenatis velit. Praesent tincidunt aliquet lectus, et auctor ex.
              </p>
            </div>
          </div> <!-- / .row -->
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                      <img src="img/team_1.jpg" class="img-responsive" alt="...">
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name">Jane Doe</div>
                        <div class="team-item__position">Project Manager</div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a class="team-item-contact__link team-item-contact__link_facebook" href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                      <img src="img/team_2.jpg" class="img-responsive" alt="...">
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name">John Doe</div>
                        <div class="team-item__position">UI/UX Designer</div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a class="team-item-contact__link team-item-contact__link_facebook" href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

                <div class="col-xs-6 col-sm-4">
                  <div class="team__item">
                    <div class="team-item__img">
                      <img src="img/team_3.jpg" class="img-responsive" alt="...">
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name">Richard Roe</div>
                        <div class="team-item__position">Senior Developer</div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a class="team-item-contact__link team-item-contact__link_facebook" href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

                <div class="col-xs-6 col-sm-4 visible-xs">
                  <div class="team__item">
                    <div class="team-item__img">
                      <img src="img/team_1.jpg" class="img-responsive" alt="...">
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="team-item__name">Judy Roe</div>
                        <div class="team-item__position">Project Manager</div>
                      </div>
                      <div class="col-md-6">
                        <div class="team-item__contact">
                          <a class="team-item-contact__link" href="#">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a class="team-item-contact__link team-item-contact__link_facebook" href="#">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div> <!-- / .row -->
                  </div> <!-- / .team__item --> 
                </div>

              </div> <!-- / .row -->
            </div>

          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- SKILLS
      ============================== -->
      <div class="section" id="skills">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="heading">Our key skills</h4>
              <p class="heading__sub">
                Maecenas varius fringilla eros. Ut feugiat sagittis porta. Nulla est sapien, eleifend a interdum et.. <br />Cum sociis natoque penatibus et magnis dis parturient montes, nascetur.
              </p>
            </div>
          </div> <!-- / .row -->
          <div class="row">

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2">
              <div class="skills__item js-skills__item_first">
                <div class="skills-item__title">HTML</div>
                <span class="skills-item__donut">11/12</span>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2">
              <div class="skills__item">
                <div class="skills-item__title">CSS</div>
                <span class="skills-item__donut" data-peity='{ "fill": ["#C06C84", "#EEE"] }'>10/12</span>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2">
              <div class="skills__item">
                <div class="skills-item__title">JS</div>
                <span class="skills-item__donut" data-peity='{ "fill": ["#6C5B7B", "#EEE"] }'>9/12</span>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2">
              <div class="skills__item">
                <div class="skills-item__title">PHP</div>
                <span class="skills-item__donut" data-peity='{ "fill": ["#355C7D", "#EEE"] }'>8/12</span>
              </div>
            </div>

          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .section -->


      <!-- CONTACT US
      ============================== -->
      <div class="container" id="contact">

        <div class="row">
          <div class="col-xs-12">
            <h4 class="heading">Feel free to contact us</h4>
            <p class="heading__sub">
              Donec blandit ex vitae lectus malesuada ullamcorper. Praesent tempor pharetra leo, id mollis.<br />Aliquam at venenatis velit. Praesent tincidunt aliquet lectus, et auctor ex. 
            </p>
          </div>
        </div> <!-- / .row -->

        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

            <!-- Alert message -->
            <div class="alert contact-form__alert" id="form_message" role="alert"></div>

            <!-- Contact form -->
            <!-- Please carefully read the README.txt file
             in order to setup the PHP contact form properly -->
            <form role="form" class="contact__form" id="form_sendemail">
              <div class="row">
                <div class="col-sm-6">

                  <!-- Email -->
                  <div class="form-group">
                    <label for="email" class="sr-only">Your email address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail">
                    <span class="help-block"></span>
                  </div>

                  <!-- Name -->
                  <div class="form-group">
                    <label for="name" class="sr-only">Your name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Full Name">
                    <span class="help-block"></span>
                  </div>

                  <!-- reCAPTCHA -->
                  <div class="form-group" id="form-captcha">
                    <div class="g-recaptcha" data-sitekey="YOUR_PUBLIC_KEY"></div>
                    <span class="help-block"></span>
                  </div>
                  <!-- /reCAPTCHA -->

                </div>

                <div class="col-sm-6">

                  <!-- Message -->
                  <div class="form-group">
                    <label for="message" class="sr-only">Your message</label>
                    <textarea name="message" class="form-control" rows="9" id="message" placeholder="Message"></textarea>
                    <span class="help-block"></span>
                  </div>
                </div>

              </div> <!-- / .row -->
              
              <div class="text-center">
                <button type="submit" class="btn btn-primary">
                  Send message
                </button>
                <div class="clearfix"></div>
              </div>

            </form>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->